<h1>****** Command Result ******</h1>
<hr />
<% unless @man_page.empty? %>
  <%= @man_page %>
<% else %>
  <h3>Nothing found</h3>
<% end %>
<br>

<a href='/'>Main Menu</a>
<a href='/command_line'>Command Line Menu</a>
<a href='/search'>Search</a>