<h1>****** Command Line ******</h1>
<hr />
<ol>
  <% @cmd.each do |cmd| %>
  <li>
    <a href= <%="/command_result/#{cmd}" %>>
      <%= cmd %> 
    </a>
  </li>
  <% end %>
</ol>

<a href='/'>Main Menu</a>
<a href='/search'>Search</a>